body {
	background: #211a10 url('/img/wrapper-bg.webp') no-repeat top fixed;
}
.header  {
	background: transparent;
}

.wrapper {
	background: rgba(255, 255, 255, 1)
}
.logo__title {
	color: #ffffff;
}
.post__related ul {
	margin: 0 0 0 20px
}